<!DOCTYPE html>
<html>

<head>
    <title>Avengers</title>


    <!------- Bootstrap ---------->

    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/stylesheet/bootstrap/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <!--------- Fonts ----------->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!------- My styles --------->
    <link rel="stylesheet" href="/stylesheet/style.css">

    <!-------- Bootstrap 5 script----------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div>
        <header class="shadow px-3 bg-white rounded position-fixed" style="z-index: 1000; width: 100%;">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <div class="h-100 d-inline-block" style="width: 120px;">
                            <a href="/">
                                <img class="w-75 float-left" src="https://download.logo.wine/logo/Avengers_(comics)/Avengers_(comics)-Logo.wine.png">
                            </a>
                        </div>
                    </li>
                    <li><a href="/" style="padding-top: 15px;" class="nav-link px-2 text-dark">Home</a></li>
                    <li><a href="/dashboard" style="padding-top: 15px;" class="nav-link px-2 text-dark">Dashboard</a></li>
                    <li><a href="/find-forms" style="padding-top: 15px;" class="nav-link px-2 text-dark">Find Avengers</a></li>
                    <li><a href="/add-avenger" style="padding-top: 15px;" class="nav-link px-2 text-dark">Add Avenger</a></li>
                </ul>
            </div>
        </header>
    </div>
    <div class="container pt-5">