<%- include("./partials/header.ejs") %>        
    <div class="m-3 p-5">
        <h4><a href='/dashboard' class="btn btn-primary">Dashboard</a></h4>
        <h4><a href='/find-forms' class="btn btn-primary">User Defined Queries</a></h4>
        <h4><a href='/querytest' class="btn btn-primary">Test Query</a></h4>
    </div>
<%- include("./partials/footer.ejs") %>