<%- include("../partials/header.ejs") %>
    <h1 class="text-danger"><u>Dashboard Page</u></h1>
    
    <p>that you'd like your system to be able to answer (minimum of 15 questions).</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>Who served longest in the entire Avengers?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p> How many of them are still alive in the Old Generation Avengers characters?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>How many of them are still alive in the New Generation Avengers characters? </p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>How many of them are dead in the New Generation Avengers characters?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>How many of them are dead in the Old Generation Avengers characters?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>Who are the retired Old Generation Avengers characters?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>Who has the highest screen time in the entire series?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>Who has least screen time in the entire series?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>Display names of the Avengers who have resurrected more than once ?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>How many of them received Honorary in Old Generation Avengers?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>Display names of the Avengers who have died at least once ?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>
    <p>What characters have probationary based intros?</p>
    <a class="btn btn-primary" href="/all/">Look up?</a>

    <a href="http://localhost:3000/" class="btn btn-danger">Go to Landing Page?</a>
    <%- include("../partials/footer.ejs") %>