<%- include("../partials/header.ejs") %>
    <h1 class="text-danger"><u>Dashboard Page</u></h1>

    <h3>Static Queries</h3>
    <form action="/faqs" method="post">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="faq" id="1"
                value="Who served the longest in the entire Avengers" checked="">
            <label class="form-check-label" for="1">
                Who served the longest in the entire Avengers?
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="faq" id="2"
                value="Who are the retired Old Generation Avengers characters">
            <label class="form-check-label" for="2">
                Who are the retired Old Generation Avengers characters?
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="faq" id="3"
                value="Who has the highest screen time in the entire series">
            <label class="form-check-label" for="3">
                Who has the highest screen time in the entire series?
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="faq" id="4"
                value="Display names of the Avengers who have resurrected/died more than once">
            <label class="form-check-label" for="4">
                Display names of the Avengers who have resurrected/died more than once?
            </label>
        </div>
        <button class="btn btn-primary my-3">Look Up?</button>
    </form>


    <a href="http://localhost:3000/" class="btn btn-danger my-3">Go to Landing Page?</a>
    <%- include("../partials/footer.ejs") %>