<%- include("../partials/header") %>
<div class="pt-3">
    <h1>OOPS..! Avenger not found.</h1>
    <a href="/find-forms" class="btn btn-outline-warning my-3">Go back to explore Avengers</a>
</div>
<%- include("../partials/footer") %>
